body {
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
    background-color: #282c34;
    color: white;
    touch-action: manipulation;
}

#game-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #000;
}

#bucket {
    position: absolute;
    bottom: 20px;
    left: 50%;
    width: 100px;
    height: 30px;
    background-color: #f39c12;
    transform: translateX(-50%);
}

.star {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #f1c40f;
    border-radius: 50%;
}

#score {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 24px;
}

#bucketSpeed {
    position: absolute;
    top: 36px;
    left: 10px;
    font-size: 24px;
}

.blue-circle {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #3498db;
    border-radius: 50%;
}

.red-circle {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #e74c3c;
    border-radius: 50%;
}